.breadcrumbs {
	position: relative;
	z-index: 3;
	padding: 1.25rem 0;
	@media (min-width: $md5) {
		padding: 2rem 0;
	}
	@media (min-width: $md2) {
		padding: 2.5rem 0;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: rem(10);
	}

	&__item {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 0;
		font-size: 0.875rem;
		line-height: 100%;

		&:not(:last-child) {
			flex-shrink: 1;
			&::after {
				content: "/";
				color: #cccccc;
				margin-left: rem(10);
			}
		}

		&:not(:last-child) {
			flex-shrink: 0;
			overflow: visible;
			text-overflow: clip;
		}
	}

	&__link {
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #e76d00;
		&:is(a) {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: #000;
				}
			}
		}

		&.active {
			color: #000;
		}
	}
}
