.range {
	margin-top: 1.5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	.form__control {
		background: #f7f7f7;
		border-color: #f7f7f7;
		padding-left: rem(50);
		padding-right: rem(15);
	}
	// .range__column
	&__column {
		position: relative;
		color: #414651;
		text-align: center;
		font-size: 1rem;
		font-weight: 500;
		line-height: 150%;
	}

	// .range__unit
	&__unit {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		visibility: hidden;
		transition: visibility 0.15s ease;
		font-size: 1rem;
		font-weight: 500;
		line-height: 150%;
		padding-top: 0.125rem;

		&.ready {
			visibility: visible;
		}
	}
	// .range__control
	&__control {
		&--start {
		}
		&--end {
		}
	}

	// .range__slider
	&__slider {
		grid-column: span 2;
		padding: 0 0.9375rem;
		margin: rem(11) 0;
	}
}

.noUi-connect {
	background-color: rgba($color: #70c700, $alpha: 0.5);
	border-radius: 6.25rem;
}

.noUi-target {
	height: rem(8);
	background-color: #f7f7f7;
	border: none;
	border-radius: 6.25rem;
	box-shadow: none;
}

.noUi-handle::after,
.noUi-handle::before {
	display: none;
}

.noUi-handle {
	box-shadow: none;
	border-radius: 50%;
	background: #fff;
	border: rem(10) solid #70c700;
	outline: 0;
	cursor: grab;
}

.noUi-horizontal .noUi-handle {
	width: 1.875rem;
	height: 1.875rem;
	top: -0.75rem;
	right: -0.9375rem;
}
