.dropdown {
	position: relative;
	width: 100%;
	.select._error & {
		.dropdown__button {
			border: rem(1) solid $red;
			color: $red;
		}
	}
	&.visible {
		.dropdown__body {
			opacity: 1;
			visibility: visible;
		}
		.dropdown__button {
			border: rem(1) solid $orange;
			&::before {
				transform: rotate(-180deg);
			}
		}
	}

	&.dropdown-top {
		.dropdown__body {
			top: auto;
			bottom: calc(100% + 0.25rem);
		}
	}
	// .dropdown__button
	&__button {
		position: relative;
		cursor: pointer;
		transition: all 0.3s ease 0s;

		width: 100%;
		border-radius: rem(100);
		border: rem(1) solid #eee;
		background: #fff;

		line-height: 100%;
		gap: rem(7);
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 1;
		user-select: none;
		color: #999;
		font-size: 0.875rem;
		min-height: rem(50);
		padding: 1rem rem(20) 1rem rem(20);
		@media (min-width: $md5) {
			padding: 1rem rem(20) 1rem rem(29);
			min-height: rem(60);
			font-size: 1.125rem;
		}
		&.selected {
			color: #000;
		}
		&::before {
			transition: transform 0.3s ease 0s;
			order: 1;
			width: 0.75rem;
			height: 0.5rem;
			font-size: 0.5rem;
			color: #999;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&:disabled {
			opacity: 0.45;
			pointer-events: none;
			user-select: none;
		}
	}

	// .dropdown__button-text
	&__button-text {
		text-align: left;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow: ellipsis;
		overflow: hidden;
		hyphens: auto;
		min-width: 2.13rem;
	}

	&__body {
		position: absolute;
		right: 0;
		top: calc(100% + 0.25rem);
		width: 100%;
		min-width: fit-content;
		z-index: 4;
		padding: 0.25rem;
		border-radius: 0.5rem;
		border: rem(1) solid #eee;
		background: #fff;
		box-shadow: 0 rem(12) 1rem rem(-4) rgba(16, 24, 40, 0.08), 0 rem(4) rem(6) rem(-2) rgba(16, 24, 40, 0.03);
		transition: 0.2s ease;
		opacity: 0;
		visibility: hidden;
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
	&__list {
		max-height: rem(340);
		overflow-x: hidden;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: rem(5);
		}
		&.has-scroll {
			padding-right: rem(10);
		}
		&::-webkit-scrollbar-track {
			background: #e0eaf3;
			border-radius: rem(5);
		}
		&::-webkit-scrollbar-thumb {
			background: $orangeLight;
			border-radius: rem(5);
			@media (any-hover: hover) {
				&:hover {
					background: $orange;
				}
			}
		}
	}
	&__list-item {
		cursor: pointer !important;
		white-space: nowrap;
		color: #000;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
		font-size: 1rem;
		line-height: 137.5%;
		padding: 0.375rem 0.5rem;
		border-radius: 0.375rem;
		min-height: 1.38rem;
		font-weight: 400;
		&:not(.active) {
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
					background: $orange;
				}
			}
		}
		transition: color 0.15s ease, background-color 0.15s ease;
		&.active,
		&[aria-checked="true"] {
			color: #fff;
			background: $orange;

			&::before {
				order: 1;
				width: 0.5rem;
				height: 0.5rem;
				font-size: 0.5rem;
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				@extend %ic, .icon-check;
			}
		}
		&[aria-disabled="true"] {
			opacity: 0.5;
			pointer-events: none;
			display: none;
		}
	}
}
