.contacts {
	padding: rem(15) 0;
	@media (min-width: $md5) {
		padding: rem(30) 0;
	}
	@media (min-width: $md3) {
		padding: rem(50) 0;
	}
	// .contacts__container
	&__container {
	}
	// .contacts__info
	&__info {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
	}
	// .contacts__info-item
	&__info-item {
		position: relative;
		gap: 1rem;
		padding-left: 4rem;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.25rem;
		min-height: 3rem;
		font-size: 1.125rem;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 50%;
			flex-shrink: 0;
			background: $orange;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.25rem;
			width: 2.75rem;
			height: 2.75rem;
			@media (min-width: $md4) {
				font-size: 1.5rem;
				width: 3rem;
				height: 3rem;
			}
		}
		& a {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: $orange;
				}
			}
		}
	}
	// .contacts__map
	&__map {
		margin-top: 2rem;
		position: relative;
		padding-bottom: 56.25%;
		display: block;
		width: 100%;
		& iframe {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100vw;
			height: 100%;
		}
	}
}
