<div class="@@className">
    <div class="product">
        <a href="/product.html" class="product__image">
            <img src="@@image" class="cover-image" alt="Фото товара">
        </a>
        <div class="product__body">
            <a href="/product.html" class="product__name">@@name</a>
            <div class="product__desc">@@desc</div>
            <div class="product__footer">
                <div class="product__price">@@price</div>
                <button type="button" class="product__add-to-cart rounded btn">
                    <span class="hidden">
                        В корзину
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>