.footer {
	padding: rem(60) 0 2.5rem;
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		background: #fff;
		padding: 3.125rem;
		border-radius: 2.5rem;
		.row {
			@media (min-width: $md0) {
				--gutter-x: #{rem(116)};
			}
		}
	}
	// .footer__info
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: rem(30);
		height: 100%;
	}
	// .footer__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
	}
	// .footer__phones
	&__phones {
		display: flex;
		flex-direction: column;
	}
	// .footer__phone
	&__phone {
		font-size: 1.75rem;
	}
	// .footer__actions
	&__actions {
		display: flex;
		align-items: center;
		gap: rem(10);
	}
	// .footer__socials
	&__socials {
		display: flex;
		align-items: center;
		gap: rem(5);
	}
	// .footer__social
	&__social {
		width: rem(40);
		height: rem(40);
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f7f7f7;
		border-radius: 50%;
		transition: background-color 0.3s ease;
		&:hover {
			background: darken($color: #f7f7f7, $amount: 5);
		}
		&:active {
			background: darken($color: #f7f7f7, $amount: 10);
		}
	}
	// .footer__prod
	&__prod {
	}
	// .footer__copyright
	&__copyright {
		font-size: 0.875rem;
		line-height: 1;
	}
	// .footer__policy
	&__policy {
		color: #999;
		font-size: 0.75rem;
		line-height: 1;
		transition: color 0.3s ease;
		text-decoration-line: underline;
		@media (any-hover: hover) {
			&:hover {
				color: $orange;
				text-decoration: none;
			}
		}
	}
	// .footer__menu
	&__menu {
		border-radius: 1.25rem;
		background: #f7f7f7;
		padding: rem(20) rem(30);
	}
	// .footer__menu-list
	&__menu-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 0.875rem;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
	}
	// .footer__menu-item
	&__menu-item {
	}
	// .footer__menu-link
	&__menu-link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $orange;
			}
		}
	}
	// .footer__services
	&__services {
		margin-top: rem(10);
		border-radius: 1.25rem;
		background: #f7f7f7;
		padding: rem(40) 1.875rem 1.875rem 1.875rem;
	}
	// .footer__services-caption
	&__services-caption {
		font-size: 0.875rem;
		font-weight: 800;
	}

	// .footer__services-block
	&__services-blocks {
		margin-top: 1rem;
		display: flex;
		justify-content: space-between;
	}
	// .footer__services-block
	&__services-block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2rem;
	}
	// .footer__services-list
	&__services-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.8rem;
	}
	// .footer__services-item
	&__services-item {
	}
	// .footer__services-link
	&__services-link {
		font-size: 0.875rem;
		text-decoration-line: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.prod-logo {
	display: flex;
	align-items: center;
	gap: rem(9);
	// .prod-logo__icon
	&__icon {
		width: 2.875rem;
		height: 3.125rem;
		flex-shrink: 0;
	}
	// .prod-logo__content
	&__content {
		display: flex;
		flex-direction: column;
		font-family: $font-montserrat;
	}
	// .prod-logo__caption
	&__caption {
		color: #999;
		font-size: 0.6875rem;
		line-height: 1;
	}
	// .prod-logo__name
	&__name {
		margin-top: 0.5rem;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.01875rem;
	}
}
