.form {
	// .form__field
	&__field {
		position: relative;
	}
	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease, color 0.3s ease;
		width: 100%;

		border-radius: rem(100);
		background: #fff;
		border: rem(1) solid #eee;
		color: #d5d7da;
		color: #000;
		min-height: rem(50);
		font-size: 0.875rem;
		padding: rem(14) rem(20);

		@media (min-width: $md5) {
			padding: rem(14) rem(29);
			font-size: 1.125rem;
			min-height: rem(60);
		}

		&--large {
			@media (min-width: $md5) {
				min-height: 5rem;
				padding: 1.5rem 3.13rem;
				font-size: 1.5rem;
			}
		}

		&--medium {
			height: rem(50);
			font-size: 0.875rem;
			padding: rem(15) rem(20);
			@media (min-width: $md5) {
				font-size: 1.125rem;
				padding: rem(20) rem(30);
				height: rem(70);
			}
		}

		&--grey {
			border-radius: 6.25rem;
			border: rem(1) solid rgba(0, 0, 0, 0.1);
			background: #f7f7f7;
		}

		&::placeholder {
			opacity: 1;
			color: #999;
		}
		&:hover,
		&:focus {
			border-color: $orange;
		}
		&._error {
			border: rem(1) solid $red;
			&::placeholder {
				color: $red;
			}
		}

		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			border-bottom: rem(1) solid $red;
			& + .form__field-placeholder {
				color: $red;
			}
		}
		&:is(textarea) {
			height: 7.5rem;
			border-radius: 1.5rem;
			resize: none;
		}
	}
	// .form__password-visibility-btn
	&__password-visibility-btn {
		position: absolute;
		top: 50%;
		right: rem(20);
		transform: translateY(-50%);
		font-size: rem(22);
		width: rem(40);
		height: rem(40);

		display: flex;
		justify-content: center;
		align-items: center;
		color: #999;
		transition: color 0.3s ease;
		&.icon-eye {
			padding-top: rem(4);
			font-size: rem(17);
		}
		@media (min-width: $md5) {
			right: rem(30);
		}
		@media (any-hover: hover) {
			&:hover {
				color: #000;
			}
		}
	}
	// .form__recovery-password
	&__recovery-password {
		color: #e76d00;
		font-size: 0.875rem;
		line-height: 100%;
		border-radius: 6.25rem;
		display: block;
		width: fit-content;
		margin-left: auto;
		background: #fff;
		transition: background-color 0.3s ease, color 0.3s ease;
		padding: rem(10) rem(20);
		@media (min-width: $md5) {
			padding: 1.4375rem 1.875rem;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #e76d00;
				color: #fff;
			}
		}
	}

	// .form__file
	&__file {
		width: 100%;
	}
	// .form__file-input
	&__file-input {
	}
	// .form__file-filed
	&__file-filed {
		border: 1px dashed rgba(0, 0, 0, 0.1);
		background: #f7f7f7;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		text-align: center;
		color: #999;
		cursor: pointer;
		transition: all 0.3s ease;
		padding: 1.875rem;
		border-radius: 1.5625rem;
		@media (min-width: $md5) {
			padding: 2.5rem 1.875rem;
			border-radius: 2.1875rem;
		}
		@media (any-hover: hover) {
			&:hover {
				border: 1px solid $orange;
			}
		}
	}
	// .form__file-caption
	&__file-caption {
		line-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(10);
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
	}
	// .form__file-format
	&__file-format {
		line-height: 150%;
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	text-transform: uppercase;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
	width: fit-content;
	padding: rem(14) rem(24);
	font-size: 1.125rem;
	font-weight: 800;
	line-height: 1;
	border-radius: 6.25rem;
	gap: rem(10);
	border: 1px solid;
	&::before {
		width: 1.125rem;
		height: 1.125rem;
		flex-shrink: 0;
	}

	&:focus-visible {
		box-shadow: 0 0 rem(1) rem(1) $black;
	}

	&.btn-orange-light {
		background: $orangeLight;
		color: $orange;
		border-color: rgba($color: $orange, $alpha: 0.2);

		&:hover {
			background: darken($color: $orangeLight, $amount: 5);
		}
		&:active {
			background: darken($color: $orangeLight, $amount: 10);
		}
	}

	&.btn-green-light {
		background: $greenLight;
		color: $green;
		border-color: rgba($color: $green, $alpha: 0.2);

		&:hover {
			background: darken($color: $greenLight, $amount: 5);
		}
		&:active {
			background: darken($color: $greenLight, $amount: 10);
		}
	}

	&.btn-primary {
		border-color: $orange;
		color: #fff;
		background: $orange;
		&:hover {
			background: darken($color: $orange, $amount: 5);
			border-color: darken($color: $orange, $amount: 5);
		}
		&:active {
			background: darken($color: $orange, $amount: 10);
			border-color: darken($color: $orange, $amount: 10);
		}
	}

	&.btn-primary-outline {
		border-color: #fff;
		background: $orange;
		&:hover {
			background: darken($color: $orange, $amount: 5);
		}
		&:active {
			background: darken($color: $orange, $amount: 10);
		}
	}

	&.btn-secondary {
		border-color: $green;
		color: #fff;
		background: $green;
		&:hover {
			background: darken($color: $green, $amount: 5);
			border-color: darken($color: $green, $amount: 5);
		}
		&:active {
			background: darken($color: $green, $amount: 10);
			border-color: darken($color: $green, $amount: 10);
		}
	}

	&.btn-white {
		background: #fff;
		border-color: #fff;
		color: #000;
		&:hover {
			background: darken($color: #fff, $amount: 5);
			border-color: darken($color: #fff, $amount: 5);
		}
		&:active {
			background: darken($color: #fff, $amount: 10);
			border-color: darken($color: #fff, $amount: 10);
		}
	}

	&.btn-grey {
		background: #f7f7f7;
		border-color: #f7f7f7;
		color: #000;
		&:hover {
			background: darken($color: #f7f7f7, $amount: 5);
			border-color: darken($color: #f7f7f7, $amount: 5);
		}
		&:active {
			background: darken($color: #f7f7f7, $amount: 10);
			border-color: darken($color: #f7f7f7, $amount: 10);
		}
	}

	&.btn-lg {
		padding: rem(15) rem(32);
		font-size: rem(14);
		@media (min-width: $md3) {
			padding: rem(31) rem(48);
			font-size: 1.25rem;
		}
		&::before {
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.5rem;
		}
	}

	&.btn-md {
		padding: rem(15) rem(32);
		font-size: rem(14);
		@media (min-width: $md3) {
			padding: rem(24) rem(48);
			font-size: 1.125rem;
		}
	}

	&.btn-sm {
		padding: 0.9375rem 1.25rem;
		font-size: 0.875rem;
	}

	&.btn-fullwidth {
		width: 100%;
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.7;
		pointer-events: none;
	}
}

.checkbox {
	display: block;
	// .checkbox__input
	&__input {
		&:checked {
			& + .checkbox__btn {
				color: #000;
				&::before {
					background: $orange;
					@extend %ic, .icon-check;
				}
			}
		}
	}
	// .checkbox__btn
	&__btn {
		border-radius: 6.25rem;
		border: rem(1) solid #fff;
		background: #fff;
		width: 100%;
		display: flex;
		align-items: center;
		gap: 0.62rem;
		color: #999;
		line-height: 100%;
		font-size: 0.875rem;
		user-select: none;
		padding: rem(15) rem(20);
		@media (min-width: $md5) {
			padding: 1.12rem 1.88rem;
			font-size: 1.125rem;
		}
		cursor: pointer;
		&::before {
			content: "";
			flex-shrink: 0;
			border-radius: 0.3125rem;
			border: 1px solid rgba(0, 0, 0, 0.1);
			background: #fff;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.25rem;
			height: 1.25rem;
			font-size: 0.675rem;
			@media (min-width: $md5) {
				font-size: 0.75rem;
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}
}

@import "./modules/select";

.switcher {
	// .switcher__input
	&__input {
		&:checked {
			& + .switcher__btn {
				&::before {
					left: rem(22);
				}
				background: $pink;
			}
		}
	}
	// .switcher__btn
	&__btn {
		position: relative;
		width: rem(44);
		height: rem(24);
		border-radius: 0.75rem;
		background: #f2f4f7;
		display: block;
		cursor: pointer;
		transition: background-color 0.3s ease 0s;
		&::before {
			content: "";
			position: absolute;
			top: rem(2);
			left: rem(2);
			width: rem(20);
			transition: left 0.3s ease 0s;
			border-radius: 50%;
			background: #fff;
			filter: drop-shadow(0 rem(1) rem(2) rgba(16, 24, 40, 0.06)) drop-shadow(0 rem(1) rem(3) rgba(16, 24, 40, 0.1));
			height: calc(100% - rem(4));
		}
	}
}

.option {
	// .option__input
	&__input {
		&:checked {
			& + .option__btn {
				font-weight: 800;
				background: #000;
				color: #fff;
			}
		}
	}
	// .option__btn
	&__btn {
		@extend .label;
	}
}

// .iti__selected-flag {
// 	background-color: rgba(0, 0, 0, 0.05);
// }

// .select {
// 	position: relative;
// 	& select {
// 		appearance: none;
// 		background: transparent;
// 		border: rem(1) solid $yellow;
// 		border-radius: rem(6);
// 		color: $white;
// 		font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
// 			"Segoe UI Symbol", "Noto Color Emoji";
// 		display: block;
// 		font-size: 1rem;
// 		font-weight: 500;
// 		height: 100%;
// 		outline: none;
// 		padding: 1em em(37) 1em em(23);
// 		width: 100%;
// 	}
// }
