.header {
	padding: 1.25rem 0;
	@media (min-width: $md2) {
		padding: 1.5rem 0;
	}
	@media (min-width: $md0) {
		padding: 2.5rem 0;
	}
	// .header__container
	&__container {
	}
	// .header__wrapper
	&__wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(10);
		@media (min-width: $md5) {
			z-index: 6;
			flex-wrap: nowrap;
		}
	}
	// .header__main
	&__main {
		display: contents;
		@media (min-width: $md5) {
			background: #fff;
			padding: 0.625rem;
			border-radius: 6.25rem;
			display: flex;
			align-items: center;
			gap: 0.625rem;
		}
		@media (min-width: $md0) {
			gap: 2.5rem;
		}
	}
	&__btns {
		display: contents;
		@media (min-width: $md5) {
			display: flex;
			align-items: center;
			gap: rem(10);
		}
	}
	// .header__services
	&__services {
		flex-shrink: 0;
		@media (max-width: $md5) {
			order: 1;
			flex: 0 0 100%;
		}
	}
	// .header__services-btn
	&__services-btn {
		text-transform: none;
		width: 100%;
		.icon-chevron-down {
			font-size: 0.5rem;
			width: rem(12);
			height: rem(8);
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: center;
			transition: transform 0.3s ease;
			margin-left: auto;
		}
		&.active {
			.icon-chevron-down {
				transform: rotate(180deg);
			}
			@extend .btn-primary;
		}
	}
	// .header__services-content
	&__services-content {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow-y: auto;
		overflow-x: visible;
		z-index: 12;
		padding: 4.38rem 1.25rem 1.25rem;
		background: rgba(231, 109, 0, 0.5);
		backdrop-filter: blur(rem(20));
		-webkit-backdrop-filter: blur(rem(20));
		opacity: 0;
		visibility: hidden;
		transition: all 0.15s ease-in;
		transform: translateX(100%);
		@media (min-width: $md5) {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			bottom: auto;
			transform: translateY(-1rem);
			overflow-y: visible;
			overflow-x: visible;
			z-index: 6;
			border-radius: 2.1875rem;
			padding: 1.875rem;
		}
		&.visible {
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
	// .header__services-blocks
	&__services-blocks {
		display: grid;
		gap: rem(5);
		@media (min-width: $md5) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(5, 1fr);
		}
	}
	// .header__services-block
	&__services-block {
		background: #fff;
		padding: 1.875rem 1rem 1.875rem 1.875rem;
		border-radius: 1.25rem;
	}
	// .header__services-close
	&__services-close {
		color: #fff;
		background: transparent;
		width: 1.875rem;
		height: 1.875rem;
		font-size: 1.875rem;
		position: absolute;
		top: 1.25rem;
		right: 1.25rem;
		@media (min-width: $md5) {
			display: none;
		}
	}
	// .header__services-caption
	&__services-caption {
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 100%;
		display: inline-block;
		margin-bottom: 1rem;
	}
	// .header__services-list
	&__services-list {
		margin-top: 0.4rem;
		color: #777;
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
		list-style: disc;
		padding-left: 1.6rem;
	}
	// .header__services-item
	&__services-item {
		&::marker {
			font-size: 0.5em;
		}
	}
	// .header__services-link
	&__services-link {
		font-size: 0.875rem;
		line-height: 1;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #000;
			}
		}
	}
	// .header__tender
	&__tender {
		flex-shrink: 0;
		text-transform: none;
		@media (max-width: $md2) {
			display: none;
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__menu-list
	&__menu-list {
	}
	// .header__menu-item
	&__menu-item {
	}
	// .header__menu-link
	&__menu-link {
	}
	// .header__menu-toggler
	&__menu-toggler {
		order: 1;
		@media (min-width: $md5) {
			order: 0;
		}
	}
	// .header__actions
	&__actions {
		display: flex;
		align-items: center;
		gap: rem(10);
		@media (max-width: $md5) {
			background: #fff;
			padding: rem(10);
			border-radius: 6.25rem;
		}
	}
	// .header__action
	&__action {
		width: 2.5rem;
		height: 2.5rem;
		flex-shrink: 0;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		@media (min-width: $md5) {
			font-size: 1.25rem;
			width: rem(50);
			height: rem(50);
		}
		&--user {
			background: #f7f7f7;
			transition: background-color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					background-color: darken($color: #f7f7f7, $amount: 10);
				}
			}
		}
		&--cart {
			background: $orange;
			color: #fff;
			transition: background-color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					background-color: darken($color: $orange, $amount: 10);
				}
			}
			position: relative;
			& .cart-quantity {
				position: absolute;
				color: #fff;
				font-size: 0.625rem;
				font-weight: 800;
				line-height: 100%;
				letter-spacing: -0.03125rem;
				border-radius: 31.25rem;
				border: rem(2) solid #fff;
				background: #70c700;
				padding: 0.1rem 0.25rem;
				top: -0.2rem;
				right: -0.2rem;
				@media (min-width: $md5) {
					top: -0.12rem;
					right: -0.12rem;
					padding: 0.31rem;
				}
			}
		}
	}

	// .header__contacts
	&__contacts {
		display: none;
		@media (min-width: $md3) {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
	}
	// .header__phone
	&__phone {
	}
	// .header__worktime
	&__worktime {
		color: #999;
		font-size: 0.9375rem;
		line-height: 150%;
		letter-spacing: 0.0375rem;
		margin-top: 0.25rem;
		@media (min-width: $md0) {
			margin-top: 0.75rem;
		}
	}
}

.menu {
	@media (max-width: $md1) {
		position: absolute;
		top: 100%;
		right: 0;
		background: #fff;
		backdrop-filter: blur(rem(20));
		-webkit-backdrop-filter: blur(rem(20));
		z-index: 6;

		border-radius: 1.875rem;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-1rem);
		transition: all 0.15s ease-in;
	}
	@media (max-width: $md5) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: auto;
		overflow-x: hidden;
		transform: translateX(100%);
	}
	&.menu-open {
		opacity: 1;
		visibility: visible;
		transform: none;
		@media (min-width: $md1) {
			.menu__body {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		font-size: 1.125rem;
		line-height: 1;
		gap: 2.5rem;
		flex-direction: column;
		font-weight: 800;
		text-decoration: underline;
		text-transform: uppercase;
		border-radius: 1.25rem;
		background: #f7f7f7;
		height: 100%;
		padding: 1.875rem;
		@media (min-width: $md5) {
			padding: 3.125rem;
		}
		@media (min-width: $md1) {
			gap: 1.5rem;
			align-items: center;
			flex-direction: row;
			text-transform: none;
			text-decoration: none;
			font-weight: 400;
			padding: 0;
			border-radius: 0;
			background: transparent;
		}
		@media (min-width: $md0) {
			gap: 2.5rem;
		}
		&.menu__list--desktop {
			@media (max-width: $md1) {
				display: none;
			}
		}
	}
	// .menu__item
	&__item {
		&.menu__item--mobile {
			@media (min-width: $md1) {
				display: none;
			}
		}
	}
	// .menu__link
	&__link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $orange;
				text-decoration: none;
			}
		}
	}
	// .menu__body
	&__body {
		padding: 4.69rem 1.25rem 1.25rem;
		@media (min-width: $md5) {
			padding: rem(30);
		}
		@media (min-width: $md1) {
			position: absolute;
			top: 100%;
			right: 0;
			border-radius: 2.1875rem;
			background: #fff;
			backdrop-filter: blur(rem(20));
			-webkit-backdrop-filter: blur(rem(20));
			z-index: 6;
			padding: 3.125rem;
			width: 64.375rem;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-1rem);
			transition: all 0.15s ease-in;
			.menu__list {
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
				padding: 3.125rem;
				border-radius: 1.25rem;
				background: #f7f7f7;
				height: 100%;
			}
			.menu__link {
				font-weight: 800;
				line-height: 100%;
				text-decoration-line: underline;
				text-transform: uppercase;
				@media (any-hover: hover) {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	// .menu__banner
	&__banner {
		border-radius: 1.25rem;
		color: #fff;
		padding: 0.625rem;
		height: 28.625rem;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background: linear-gradient(180deg, rgba(112, 199, 0, 0) 50.23%, rgba(112, 199, 0, 0.5) 100%), url("@img/invite.jpg") center / cover no-repeat;
	}
	// .menu__banner-content
	&__banner-content {
		border-radius: 1.5625rem;
		background: rgba(112, 199, 0, 0.5);
		padding: 1.25rem;
		backdrop-filter: blur(rem(25));
		-webkit-backdrop-filter: blur(rem(25));
	}
	// .menu__banner-caption
	&__banner-caption {
	}
	// .menu__banner-footer
	&__banner-footer {
		display: flex;
		gap: 1.25rem;
		flex-direction: column;
		margin-top: rem(15);
		@media (min-width: $md5) {
			margin-top: 1.25rem;
			align-items: center;
			flex-direction: row;
		}
	}
	// .menu__banner-text
	&__banner-text {
		font-weight: 700;
		line-height: 120%;
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
	}
	// .menu__banner-btn
	&__banner-btn {
		width: 100%;
		@media (min-width: $md5) {
			width: fit-content;
		}
		&.btn-white {
			color: #70c700;
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0.62rem 0.25rem;
	min-width: 2.5rem;
	height: 2.5rem;
	color: #000;
	z-index: 11;
	transition: all 0.3s ease;

	& span {
		display: block;
		padding: rem(3) rem(2);
		align-self: stretch;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			border-radius: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
		&:last-child {
			margin-right: auto;
			width: 75%;
		}
	}
	&.active {
		background: transparent;
		padding: 0.35rem;
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(4.25));
				&::before {
					transform: rotate(-135deg);
				}
			}

			&:last-child {
				transform: translateY(rem(-4.25));
				width: 100%;
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
